* {
    margin: 0;
    padding: 0;
    font-family: calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(walpaperWeb.jpg);
}
#wrapper{
    width: 820px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #DDDDDD;
}
header{
    background-color: #636363;
    height: 70px;
    width: 100%;
    padding: 15px 5px;
    overflow: hidden;
}
header img{
    width:120px;
}
#menu-utama{
    margin-top: 3px;
    list-style: none;
}
#menu-utama li{
    float: left;
    padding: 8px 20px;
    border-right: 1px solid #555555;
}
#menu-utama li a{
    color: #ffffff;
    text-decoration: none;
}
header form{
    float:right;
    margin-top: 7px;
    margin-right: 20px;;
}
header form input{
    border: none;
    height: 20px;
}
#daftar-artikel{
    width: 470px;
    float: left;    
}
article{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    overflow: hidden;
}
article img{
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 165px;
}
article b{
    color: #616060;
    background-color: #DDDDDD;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
article p{
    margin: 10px 0px;
}
article a{
    display: block;
    text-align: right;
    color: #636363;
}
aside{
    width: 270px;
    float: right;
    margin-right: 20px;
}
aside h2{
    font-size: 18px;
    margin: 10px 0px;
}
aside p{
    line-height: 20px;
    color: #636363;
}
aside ul li a{
    color: #636363;
    text-decoration: none;
}
footer{
    clear: both;
    margin: 20px 0px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 5px;
    color: #555555;
}